<!DOCTYPE html>
<html>
<head>
  <title>Rental | About</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="icon" href="launcher.png">
  <style type="text/css">
    @font-face{
      font-family: ProductSans;
      src:url(ProductSans.ttf);
    }
    .para{
      font-family: ProductSans;
    }
    .c1{
      color: yellow;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app fluid>
      <v-content style="background-color: white;">
<!--         <v-container> -->
          <v-toolbar dark color="black">
            <v-toolbar-icon><img src="launcher1.png" width="50" height="50"></v-toolbar-icon>
            <v-toolbar-title class="headline">Rental</v-toolbar-title>
          
<!--         </v-container> -->
          <v-spacer></v-spacer>
          <v-toolbar-items>
          <v-btn flat @click="signup()">Sign Up</v-btn>
          <v-btn flat @click="login()">LogIn</v-btn>
          <v-menu offset-y>
            <v-btn slot="activator" flat>
          <span>Rent</span>
          <v-icon light>arrow_drop_down</v-icon>
        </v-btn>
            <v-list>
              <v-list-tile v-for="item in items" :key="item" @click="goToWheelers(item)">
                <v-list-tile-title v-text="item"></v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-btn flat @click="contact()">Contact</v-btn>
          <v-btn flat @click="about()">About</v-btn>
        </v-toolbar-items>
        </v-toolbar>
<!--         <v-container fluid> -->
          <v-layout row wrap style="background-color: black;height: 100%">
            <v-flex xs12 style="text-align: center;">
              <p class="headline para white--text pt-5">About Us</p>
              <p class="title para white--text">"Providing better Vehicle Renting Solutions Where <span class="c1">Uber</span> and <span class="c1">OLA</span> can't Reach"</p>
              <p class="title para white--text">The main reason to build up Rental is to provide people locally the best and easy way to rent vehicles.</p>
              <p class="title para white--text">Sometimes people need just one vehicle for hanging out with friends or go for a long drive with family.</p>
              <p class="title para white--text">In big cities, <span class="c1">Uber</span> and <span class="c1">OLA</span> does the Job, but what for the others?</p>
              <p class="title para white--text">So, we thought it would be lot cooler if we make something that benefits people locally.</p>
              <p class="title para white--text">And so, We made <span class="c1">Rental&copy;</span></p>
              <p class="title para white--text">We are developing our app soon. So stay tuned!</p>
            </v-flex>
          </v-layout>
<!--         </v-container> -->
          
      </v-content>
      <v-footer height="auto" class="grey darken-3 pt-4 mt-0">
          <v-layout row wrap justify-center>
            <v-btn v-for="link in links" :key="link" color="white" flat @click="linkOpen(link)">
              {{ link }}
            </v-btn>
            <v-flex xs12 py-3 text-xs-center white--text para subheading>&copy; 2018 - Rental | Hello from Unjha</v-flex>
          </v-layout>
        </v-footer>
    </v-app>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({ el: '#app',
              data : ()=>({
                items : ['Two-Wheelers','Four-Wheelers'],
                links : ['home','signup','login','about','contact']
              }),
              methods: {
                goToWheelers : function(item){
                  if(item=='Two-Wheelers'){
                  window.location.href="signup2.html";
                }
                else if(item=='Four-Wheelers'){
                  window.location.href="signup4.html";
                }
              },
              about(){
                window.location.href="about.html";
              },
              contact(){
                window.location.href="contact.html";
              },
              signup(){
                window.location.href="signup.html";
              },
              login(){
                window.location.href="login.html";
              },
              linkOpen : function(link){
                if(link=="home"){
                  window.location.href="index.html";
                }
                else{
                  window.location.href=link+".html";
                }
              },
              mailTo : function(email){
                window.location.href="mailto:manthanmevada66@gmail.com";
              }
              }
     })
  </script>
</body>
</html>