<!DOCTYPE html>
<html>
<head>
  <title>Rental | Home</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="icon" href="launcher.png">
  <style type="text/css">
    @font-face{
      font-family: ProductSans;
      src:url(ProductSans.ttf);
    }
    .para{
      font-family: ProductSans;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app fluid>
      <v-content style="background-color: white;">
<!--         <v-container> -->
          <v-toolbar dark>
            <v-toolbar-icon><img src="launcher.png" width="48" height="48"></v-toolbar-icon>
            <v-toolbar-title class="headline">Rental</v-toolbar-title>
          
<!--         </v-container> -->
          <v-spacer></v-spacer>
          <v-toolbar-items>
          <v-btn flat @click="signup()">Sign Up</v-btn>
          <v-btn flat @click="login()">LogIn</v-btn>
          <v-menu offset-y>
            <v-btn slot="activator" flat>
          <span>Rent</span>
          <v-icon light>arrow_drop_down</v-icon>
        </v-btn>
            <v-list>
              <v-list-tile v-for="item in items" :key="item" @click="goToWheelers(item)">
                <v-list-tile-title v-text="item"></v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-btn flat @click="contact()">Contact</v-btn>
          <v-btn flat @click="about()">About</v-btn>
        </v-toolbar-items>
        </v-toolbar>
<!--         <v-container fluid> -->
          <v-layout row wrap style="height: 325px;background-color: black;">
            <v-flex xs6>
              <p class="display-1 white--text pt-5 pl-5 mt-5 para">Book a Car or Bike to your destination</p>
              <p class="display-1 white--text pl-5 para">Reliable | Smart | Easy</p>
            </v-flex>
            <v-flex xs6>
              <img src="car1.png" style="text-align: right;width: 100%;" class="pt-3">
            </v-flex>
          </v-layout>
<!--         </v-container> -->
          <v-layout row wrap class="my-5" style="background-color: white;">
            <v-flex xs6 md6>
              <img src="renting.png" style="text-align: left;width: 100%;background-size: cover;" class="pt-5 pl-5">
            </v-flex>
            <v-flex xs6 md6 style="text-align: right;padding-top: 150px;">
             <p class="headline black--text pr-5 pt-5 para">We make sure that every car is pollution free</p>
             <p class="headline black--text pr-5 para">So with car renting, environment doesn't get affected</p>
             <v-icon color="green" class="pr-5">local_florist</v-icon>
             <v-icon color="yellow" class="pr-5">wb_sunny</v-icon>
             <v-icon color="pink" class="pr-5">filter_vintage</v-icon>
            </v-flex>
          </v-layout>
          <v-layout row wrap class="mt-5 mb-3 pb-5" style="background-image: url(background.jpg); height: 740px; width: 100%; background-repeat: no-repeat; background-size: cover;">
            <v-flex xs6>
            </v-flex>
            <v-flex xs6 style="text-align: center;">
              <p class="headline white--text pr-5 mt-5 pt-5" style="font-family: ProductSans;">Rental&copy; | Local Renting Solutions Simplified</p>
              <p class="headline white--text pr-5" style="font-family: ProductSans;">Providing Renting Solutions Where Uber and OLA can't reach</p><br>
              <p class="headline white--text pr-5" style="font-family: ProductSans;">We will be launching our App soon <v-icon color="red">favorite</v-icon> </p>
              <p class="headline white--text pr-5" style="font-family: ProductSans;">Please type your email to stay tuned!</p>
              <center><v-text-field name="email" label="Type your Email" style="width: 400px;" prepend-icon="mail" class="white--text pr-5" dark></v-text-field>
              </center>
              <center><v-btn flat @click="mailTo(email)" color="white" class="mr-5">SUBSCRIBE</v-btn></center>
            </v-flex>
          </v-layout>
      </v-content>
      <v-footer height="auto" class="grey darken-3 pt-4 mt-0">
          <v-layout row wrap justify-center>
            <v-btn v-for="link in links" :key="link" color="white" flat @click="linkOpen(link)">
              {{ link }}
            </v-btn>
            <v-flex xs12 py-3 text-xs-center white--text para subheading>&copy; 2018 - Rental | Hello from Unjha</v-flex>
          </v-layout>
        </v-footer>
    </v-app>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({ el: '#app',
              data : ()=>({
                items : ['Two-Wheelers','Four-Wheelers'],
                links : ['Home','Sign Up','LogIn','Rent','About','Contact']
              }),
              methods: {
                goToWheelers : function(item){
                  if(item=='Two-Wheelers'){
                  window.location.href="signup2.html";
                }
                else if(item=='Four-Wheelers'){
                  window.location.href="signup4.html";
                }
              },
              about(){
                window.location.href="about.html";
              },
              contact(){
                window.location.href="contact.html";
              },
              signup(){
                window.location.href="signup.html";
              },
              login(){
                window.location.href="login.html";
              },
              linkOpen : function(link){
                if(link=="Home"){
                  window.location.href="index.html";
                }
                else{
                  window.location.href=link+".html";
                }
              },
              mailTo : function(email){
                window.location.href="mailto:manthanmevada66@gmail.com";
              }
              }
     })
  </script>
</body>
</html>