<!DOCTYPE html>
<html>
<head>
	<title>Register | Two-Wheelers</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  	<link rel="icon" href="launcher.png">
</head>
<body>
	<div id="app">
		<v-app id="inspire">
			<v-content>
			<v-container fluid fill-height>
				<v-layout align-center justify-center>
					<v-flex xs12 sm8 md4>
						<v-card class="elevation-12">
							<v-toolbar color="green">
								<v-toolbar-title class="white--text">Register for 2 Wheelers</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn icon large @click="showBikes()"><v-icon large color="white">directions_bike</v-icon></v-btn>
								</v-toolbar>
								<v-card-text>
									
			<v-form enctype="multipart/form-data" method="post" v-model="valid" id="form" @submit="submit" action="signup2.php" lazy-validation>
				<v-text-field name="model" label="Model Name" type="text" v-model="model" required></v-text-field>
                  <v-text-field name="no" label="Vehicle Number" type="text" v-model="no" required></v-text-field>
                  <!-- <span class="subheading">Select time:</span><br><br>
                  <center><v-time-picker v-model="picker" :landscape="landscape" color="green" required></v-time-picker></center><br> -->
                  <v-flex>
                  <v-dialog ref="dialog1" persistent lazy full-width width="290px" v-model="model1" :return-value.sync="time" @keydown.esc="model1 = false">
                  	<v-text-field slot="activator" label="Pickup Time" name="time1" v-model="time1" readonly required></v-text-field>
                  	<v-time-picker v-model="time1" color="green" actions>
                   		<v-spacer></v-spacer>
                  		<v-btn flat color="green" @click="model1 = false">Cancel</v-btn>
                  		<v-btn flat color="green" @click="$refs.dialog1.save(time1)">Ok</v-btn>
                  	</v-time-picker>
                  </v-dialog>
              </v-flex>
               <v-flex>
                  <v-dialog ref="dialog2" persistent lazy full-width width="290px" v-model="model2" :return-value.sync="time" @keydown.esc="model2 = false">
                  	<v-text-field slot="activator" label="Drop Time" v-model="time2" name="time2" readonly required></v-text-field>
                  	<v-time-picker v-model="time2" color="green" actions>
                   		<v-spacer></v-spacer>
                  		<v-btn flat color="green" @click="model2 = false">Cancel</v-btn>
                  		<v-btn flat color="green" @click="$refs.dialog2.save(time2)">Ok</v-btn>
                  	</v-time-picker>
                  </v-dialog>
              </v-flex>
                  <v-text-field name="fare" type="text" value="100" label="Enter Fare" v-model="fare" required></v-text-field><br>
                  <v-text-field name="address" v-model="address" label="Enter Address" ref="address" required></v-text-field>
                  <v-text-field name="mobile" v-model="mobile" label="Enter Mobile No" ref="mobile" min="10" required></v-text-field>
                  <center><img :src="imageUrl" height="150" v-if="imageUrl"/></center>
                  <center><v-btn color="green" class="white--text" v-model="image" @click="pickFile" required>Upload Image</v-btn></center>
                  <input type="file" name="image" style="display: none;" ref="image" accept="image/*" @change="onFilePicked">
                  <v-text-field name="descr" label="Enter Description" type="text" v-model="descr" multi-line required></v-text-field>
		</v-card-text>
		<v-card-actions>
			<v-spacer></v-spacer>
			<v-btn flat color="green" @click="backHome">Back to HomePage&nbsp<v-icon>home</v-icon>?</v-btn>
			<v-btn flat color="green" @click="goToCars">Sign Up for&nbsp<v-icon>directions_car</v-icon>?</v-btn>
			<v-btn flat color="green" @click="submit" :disabled="!valid">Sign Up</v-btn>
		</v-card-actions>
		</v-form>
		</v-card>
		</v-flex>
		</v-layout>
		</v-container>
		</v-content>
		</v-app>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
 	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	<script>
	new Vue({
			  el: '#app',
			  data: () => ({
			    drawer: null,
			    img: '',
			    imgFile: '',
			    imageUrl: ''
			  }),
			  data(){
			  	return{
			  		valid:false,
			  		model:null,
			  		no:null,
			  		time1:null,
			  		time2:null,
			  		fare:null,
			  		address:null,
			  		descr:null,
			  		model1:false,
			  		model2:false,
			  		image:null,
			  		mobile:null
			  	}
			  },
			  props: {
			    source: String
			  },
			  methods: {
			  	pickFile(){
			  		this.$refs.image.click();
			  	},
			  	onFilePicked(s){
			  		const files = s.target.files
			  		if(files[0] !== undefined){
			  			this.img = files[0].name
			  			if(this.img.lastIndexOf('.') <=0){
			  				return
			  			}
			  			const fr = new FileReader()
			  			fr.readAsDataURL(files[0])
			  			fr.addEventListener('load',() =>{
			  				this.imageUrl = fr.result
			  				this.imgFile = files[0]
			  			})
			  		}
			  		else{
			  			this.img = ''
			  			this.imgFile = ''
			  			this.imageUrl = ''
			  		}
			  	},
			  	submit(){
			  		form.submit()
			  	},
			  	showBikes(){
			  		window.location.href="rent_two.php";
			  	},
			  	goToCars(){
			  		window.location.href="signup4.html";
			  	},
			  	backHome(){
			  		window.location.href="index.html";
			  	}
			  }
			})
	</script>
</body>
</html>